<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="TitleArea">Verification</h1>
  <h6 class="VerificationMessage">We've sent you the verification code to your email</h6>

  <div class="OTPInputContainer">
    <ion-input type="text" [(ngModel)]="otpCode[0]" inputmode="numeric" placeholder="0" (click)="showKeypad()"></ion-input>
    <ion-input type="text" [(ngModel)]="otpCode[1]" inputmode="numeric" placeholder="0" (click)="showKeypad()"></ion-input>
    <ion-input type="text" [(ngModel)]="otpCode[2]" inputmode="numeric" placeholder="0" (click)="showKeypad()"></ion-input>
    <ion-input type="text" [(ngModel)]="otpCode[3]" inputmode="numeric" placeholder="0" (click)="showKeypad()"></ion-input>
    <ion-input type="text" [(ngModel)]="otpCode[4]" inputmode="numeric" placeholder="0" (click)="showKeypad()"></ion-input>
    <ion-input type="text" [(ngModel)]="otpCode[5]" inputmode="numeric" placeholder="0" (click)="showKeypad()"></ion-input>
  </div>

  <p class="ErrorMessage">{{ errorMessage }}</p>

  <ion-button class="VerifyButton" (click)="verifyOTP()">
    <ion-label class="VerifyButtonText">CONTINUE</ion-label>
    <ion-icon name="arrow-forward-circle" class="ArrowIcon"></ion-icon>
  </ion-button>

  <ion-button class="ResendButton" (click)="resendOTP()">Resend OTP</ion-button>

  <div class="KeypadContainer" *ngIf="isKeypadVisible">
    <div class="KeypadRow">
      <ion-button class="KeypadButton" (click)="appendDigit(1)">1</ion-button>
      <ion-button class="KeypadButton" (click)="appendDigit(2)">2</ion-button>
      <ion-button class="KeypadButton" (click)="appendDigit(3)">3</ion-button>
    </div>
    <div class="KeypadRow">
      <ion-button class="KeypadButton" (click)="appendDigit(4)">4</ion-button>
      <ion-button class="KeypadButton" (click)="appendDigit(5)">5</ion-button>
      <ion-button class="KeypadButton" (click)="appendDigit(6)">6</ion-button>
    </div>
    <div class="KeypadRow">
      <ion-button class="KeypadButton" (click)="appendDigit(7)">7</ion-button>
      <ion-button class="KeypadButton" (click)="appendDigit(8)">8</ion-button>
      <ion-button class="KeypadButton" (click)="appendDigit(9)">9</ion-button>
    </div>
    <div class="KeypadRow">
      <ion-button class="KeypadButton" (click)="clearDigits()">Clear</ion-button>
      <ion-button class="KeypadButton" (click)="appendDigit(0)">0</ion-button>
      <ion-button class="KeypadButton" (click)="deleteDigit()"><ion-icon name="backspace-outline"></ion-icon></ion-button>
    </div>
  </div>
</ion-content>
