.ion-content {
    --ion-background-color: white;
  }
  
  .TitleImage {
    margin-top: 100px;
    margin-bottom: 20px;
    width: 200px;
    height: auto;
    margin-left: 30px;
  }
  
  .SignInTitle {

    font-size: 20px;
    font-weight: bold;
   
  }
  
  .CompanyNameTitle {
   
    font-size: 18px;
    font-weight: bold;
  }
  
  .EmailAddressTitle {

    font-size: 18px;
    font-weight: bold;

  }
  
  .BoxInput {
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
    border: 2px solid #ccc;
    height: 10px;
  }
  
  
  .LoginButton-Area {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .ButtonText {
    flex-grow: 1;
    text-align: center;
  }
  
  .ArrowIcon {
    margin-left: 5px;
  }
  
  .error-message {
    color: red;
  }
  