.headertoolbar{
    background: #191E49;
}  
.menu-button{
    --color: white;
}  
  
  .heading-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  
  .mastersheet-heading {
    color: white;
    font-weight: bold;
  }
  
  .filter-button {
    --color: white;
  }
  
  .settings-button {
    --color: white;
  }