<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="menu-button" autoHide="false" (click)="toggleMenu()"></ion-menu-button>
    </ion-buttons>
    <div class="heading-container">
      <span class="mastersheet-heading">Master Sheet</span>
    </div>
    <ion-buttons slot="end">
      <ion-button class="filter-button">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
      <ion-button class="settings-button">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="main-content">
  <div class="container">
    <div class="left-column">
      <div class="circle">
        <span>A</span>
      </div>
    </div>
    <div class="right-column">
      <ion-content>
        <ion-list lines="none">
          <ion-item >Company Name</ion-item>
          <ion-item >Profile Name</ion-item>
          <ion-item >Email Address</ion-item>
        </ion-list>
      </ion-content>
    </div>
  </div>
  
  

  <ion-content>
    <ion-list lines="none">   
      <ion-item>Zoho View</ion-item>
      <ion-item>Discount 20% View</ion-item>
      <ion-item>Discount 10% View</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" id="main-content" class="search-col">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="6" class="search-col">
            <ion-searchbar placeholder="Product Search" class="search-bar product-search"></ion-searchbar>
          </ion-col>
          <ion-col size="6" class="search-col">
            <ion-searchbar placeholder="Select View" class="search-bar select-view"></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
</ion-content>


