<ion-header [translucent]="true"></ion-header>

<ion-content class="ion-content">
  <h1 class="TitleArea">Pricedonkey</h1>

  <ng-container *ngFor="let item of items; let i = index">
    <ion-item>
      <ion-textarea placeholder="{{ item.placeholder }}" class="CompanyName-Area"></ion-textarea>
    </ion-item>
  </ng-container>

  <ion-item>
    <ion-textarea [(ngModel)]="userEmail" placeholder="  Email Address" class="EmailAddress-Area"></ion-textarea>
  </ion-item>


  <ion-button class="LoginButton-Area" (click)="generateOTP()">Log in</ion-button>
</ion-content>
